
<div class="d-flex justify-content-center">
{{#each events}}
<div class="card mx-auto d-inline-block  transperant-background" style="width: 18rem;">
  <img class="card-img-top" src="http://data.whicdn.com/images/31806282/tumblr_m6jd1jJ44Z1qhg067o1_500_large.jpg"
    alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Next game will be on <strong>{{eventdate}}</strong> at <strong>{{time}}</strong> o'clock in
      {{place}}'s residance. So far the players are:<br> {{#each newUsers}}<p class="card-text">{{this}}</p>{{/each}}

      <br>
      {{#if itParticipate}}
      <span>You participate in this game.</span>
      {{else}}
      <span>You can participate by pressing the button "Participate".</span>
      <form class="form-inline" action="/participate:{{_id}}" method="POST">
        <button type="submit" class="btn btn-dark mb-2">Participate</button>
      </form>
      {{/if}}
    </p>
  </div>
</div>
{{/each}}
</div>