<div class="d-flex justify-content-center transperant-background">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Player</th>
            <th scope="col">Buy in</th>
            <th scope="col">Cash out</th>
            <th scope="col">Points for the rankings</th>
            <th scope="col">Points for the balance</th>
        </tr>
    </thead>
    <tbody>
        {{#each mappedUserStats}}
        <tr>
            <th scope="row">{{name}}</th>
            <td>{{buyIn}}</td>
            <td>{{cashOut}}</td>
            <td>{{rankingPoints}}</td>
            <td>{{balancePoints}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>