<div class="d-flex justify-content-center "><h1 class="transperant-background">Standings</h1></div>
<div class="d-flex justify-content-center ">
<table class="table transperant-background">    
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Games</th>
            <th scope="col">Total Buy In</th>
            <th scope="col">Personal Balance</th>
            <th scope="col">Total Points</th>
        </tr>
    </thead>
    <tbody>
        {{#each mappedUsers}}
        <tr>
            <th scope="row">{{name}}</th>
            <td>{{games}}</td>
            <td>{{buyIn}}</td>
            <td>{{balance}}</td>
            <td><strong>{{points}}</strong></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>