<table>

  <thead>

    <tr>
      <th>Name</th>
      <th>Buy in</th>
      <th>Cash out</th>
      <th>Total</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Todor</strong></td>
      <td>-1000</td>
      <td>2075</td>
      <td>1075</td>
      <td>51.68</td>
    </tr>
    <tr>
      <td><strong>Todor</strong></td>
      <td>-1000</td>
      <td>2075</td>
      <td>1075</td>
      <td>51.68</td>
    </tr>
    <tr>
      <td><strong>Todor</strong></td>
      <td>-1000</td>
      <td>2075</td>
      <td>1075</td>
      <td>51.68</td>
    </tr>
    <tr>
      <td><strong>Todor</strong></td>
      <td>-1000</td>
      <td>2075</td>
      <td>1075</td>
      <td>51.68</td>
    </tr>
    <tr>
      <td><strong>Todor</strong></td>
      <td>-1000</td>
      <td>2075</td>
      <td>1075</td>
      <td>51.68</td>
    </tr>
    <tr>
      <td><strong>Todor</strong></td>
      <td>-1000</td>
      <td>2075</td>
      <td>1075</td>
      <td>51.68</td>
    </tr>
    <tr>
      <td><strong>Todor</strong></td>
      <td>-1000</td>
      <td>2075</td>
      <td>1075</td>
      <td>51.68</td>
    </tr>
    <tr>
      <td><strong>Todor</strong></td>
      <td>-1000</td>
      <td>2075</td>
      <td>1075</td>
      <td>51.68</td>
    </tr>
    <tr>
      <td><strong>Todor</strong></td>
      <td>-1000</td>
      <td>2075</td>
      <td>1075</td>
      <td>51.68</td>
    </tr>
  </tbody>
</table>
<div class="container-cash-table">
  <div class="cards-layout flex">
    {{#each events}}
    <a href="/eventdetails:{{_id}}" class="card">
      <span class="card-inner">
        <span class="card-media">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB_jkLjqariKJt_MrsoIUjZH7SG6sWnth4nS3qH6vNtaEktEKr">
        </span>
        <span class="card-meta">
          <span class="title"><strong>Type:</strong>{{type}}</span>
          <span class="title"><strong>Date:</strong>{{eventdate}}</span>
          <span class="desc"><strong>Place:</strong> {{place}}</span>
          <span class="desc"><strong>Creator:</strong> </span>
          <span class="desc"><strong>Participants so far:</strong></span>
          <ul>            
            {{#each userArr}}
            <li>{{name}}</li>
            {{/each}}
          </ul>
        </span>
        <span class="card-footer">
          <span><strong>Free seats:</strong>{{seats}}</span>
          <strong>Starts in:</strong> 2 days!
        </span>
      </span>
    </a>
  {{/each}}
  </div>
</div>